* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f5;
}

body>div {
    margin: auto;
}

#tagtoast {
    position: fixed;
    top: 34px;
    right: 34px;
}

.toast {
    font-family: "Helvetica Neue";
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .5s;
}

@keyframes slidetoast {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 34px));

    }

    to {
        opacity: 1;
        transform: translateX(0)
    }

}

@keyframes opc {
    to {
        opacity: 0;
    }
}

.toast-body {
    flex-grow: 1;
}

.toast+.toast {
    margin-top: 24px;
}

.toast-icon {
    font-size: 34px;
    padding: 0 12px;

}

.title {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}

.conten {
    font-size: 14px;
    color: #777;
}

.toast-exit {
    font-size: 20px;
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.3);
}


.toast--warning .toast-icon {
    color: #ffc021;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--success .toast-icon {
    color: #47d864;
}

.toast--success {
    border-color: #47d864;
}

.toast--error .toast-icon {
    color: #ff632d;
}

.toast--error {
    border-color: #ff632d;
}
.container_f{
    /* margin: 20px 30px; */
}